/* default styling */
*{
  /*border:1px solid black;*/
  font-family: arial;
  font-size: 12px;
}
/*nav{
  display: inline;
}*/
/* nav */
nav{
  color:#404040;
  height: 100px;
}
nav ul{
  margin-top:0px;
  position: fixed;
  top: 0;
  width: 100%;
}
nav ul li{
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  display: inline-block;
  float:right;
  text-align: center;
  margin: auto;
  height: 30px;

}
a{
  margin: auto;
  text-decoration: none;
  font-family: arial;
  color:#404040;
  font-size: 12px;
  display: block;
  margin-top: 4px;

}
/*ul li span{
display: inline-block;
}

ul li img{
  display: inline-block;
}*/

.user_pic{
  position: relative;
  top:-5px;
  right:3px;
  /*height: 30px;
  width: 30px;*/
  margin-right:40px;
  border-radius: 15px;
}

/* main-content */
.main-content{
  margin: auto;
  margin-top:200px;
  padding:20px;

}
.main-content img{
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-content input{
  border:1px solid #C5C5C5;
  width: 600px;
  height: 30px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background: url(./assets/microphone.png) no-repeat right center;
  /*background-size: 30px 25px;*/
}

.main-content input:hover{
  border-color: #666666;
}
.main-content input:focus{
  border-color:#4D90FE;
  outline: none;
}

.btn-main {
  border: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  padding: 12px;
  background-color: #F5F5F5;
  font-weight: bold;
  color:#666666;
}

.btn-main:hover{
  cursor: pointer;
  color: black;
  border: 1px solid #C5C5C5;
  padding: 11px;
}


.btn-container{
width:405px;
margin: auto;
}

/* footer */

footer{
  background-color: #F2F2F2;
  color:#666666;
  position: fixed;
  bottom: 0;
  width: 100%;
}


footer ul li{
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  display: inline-block;
  text-align: center;
  margin: auto;

}

.align-left{
  float:left;
}

.align-right{
  float:right;
}

/* helper classes */
