/* default styling */
*{
  font-family: arial;
  font-size: 12px;
}

/* nav */
nav{
  color:#404040;
  height: 100px;
}
nav ul{
  margin-top:0px;
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 30px;
  margin-top:10px;
  font-size: 14px;
}
nav ul li{
  list-style-type: none;
  padding: 10px;
  display: inline-block;
  float:right;
  text-align: center;
  margin: auto;
  height: 30px;

}

nav ul li a {
  font-size: 13px;
}

a{
  margin: auto;
  text-decoration: none;
  color:#404040;
  display: block;
  margin-top: 4px;

}

a:hover {
  text-decoration: underline;
}

.user_pic{
  position: relative;
  top:-5px;
  right:3px;
  margin-right:40px;
  border-radius: 15px;
}

/* main-content */
.main-content{
  margin: auto;
  margin-top:150px;
}

.main-content img{
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.main-content input{
  border:1px solid #C5C5C5;
  width: 550px;
  height: 35px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background: url(./assets/microphone.png) no-repeat right center;
}

.main-content input:hover{
  border-color: #666666;
}
.main-content input:focus{
  border-color:#4D90FE;
  outline: none;
}

.btn-main {
  border: 0px;
  margin-top: 10px;
  width: 130px;
  padding: 12px;
  background-color: #F5F5F5;
  font-weight: bold;
  color:#666666;
}

.btn-main:hover{
  cursor: pointer;
  color: black;
  border: 1px solid #C5C5C5;
  padding: 11px;
}


.btn-container{
width:265px;
margin: auto;
}

/* footer */

footer{
  background-color: #F2F2F2;
  color:#666666;
  position: fixed;
  bottom: 0;
  width: 100%;
}


footer ul li{
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  display: inline-block;
  text-align: center;
  margin: auto;

}

.align-left{
  float:left;
}

.align-right{
  float:right;
}

/* helper classes */
